# Collecting/Cleansing

This script is used to collect the data from the Jordan vs Lebron analysis. In this script I utilize techniques such as:
- Webscraping

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

def search(first, last):
    url = "https://www.basketball-reference.com/search/search.fcgi?hint={first}+{last}&search={first}+{last}".format(
        first=first, last=last)

    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    results = soup.find_all("div")

    names = []
    links = []
    for result in results:
        name = result.find("div", class_="search-item-name")
        link = result.find("div", class_="search-item-url")
        names.append(name)
        links.append(link)

    data = {'Name': names, 'Link': links}
    df = pd.DataFrame(data)
    df = pd.DataFrame(df.Link[0])
    df = pd.DataFrame(df[0].str.split(".",expand = True)[0])
    
    return df

In [79]:
first = input("Enter The Players First Name You want to search:")
last = input("Enter The Players Last Name You want to search:")
year_one = input("What is the first year you want to evaluate for the first player:")
year_two = input("What is the last year you want to evaluate for the first player:")
first2 = input("Enter The Players First Name You want to search:")
last2 = input("Enter The Players Last Name You want to search:")
year_one_1 = input("What is the first year you want to evaluate for the first player:")
year_two_2 = input("What is the last year you want to evaluate for the first player:")

Enter The Players First Name You want to search:lebron
Enter The Players Last Name You want to search:james
What is the first year you want to evaluate for the first player:2004
What is the last year you want to evaluate for the first player:2022
Enter The Players First Name You want to search:michael
Enter The Players Last Name You want to search:jordan
What is the first year you want to evaluate for the first player:1984
What is the last year you want to evaluate for the first player:1993

In [150]:
year_one_1 = 1985

In [151]:
player_info = search(first, last)
player_info_1 = search(first2, last2)

In [152]:
print(player_info_1)
print(player_info)

                      0
0  /players/j/jordami01
                      0
0  /players/j/jamesle01

In [153]:
#pd.concat(list(search(first, last)), list(search(first2, last2)))

Below I created a couple loops to first create a list of lengths with the attached ranges that the player year they played. I took in the years and attached the link in a string type then appended an empty list created called links. I then take those links and loop it through the pd.read_html function in python then append it so as it loops through the list of links pulling in all the data. I then have to concat the data at the end of the loops.

In [167]:
players = [(first, last), (first2, last2)]
year_1 = range(int(year_one) ,int(year_two))
#year_2 = range(int(year_one_1),int(year_two_2))
year_2 = list(range(int(1985),int(1993)))+ list(range(1995,1999)) + list(range(2002,2004))

In [269]:
len(year_1)

18

In [175]:
i = 0 
links = []
for i in year_1:
    string = str("https://www.basketball-reference.com" +player_info[0].unique()[0] + "/gamelog/"+str(i))
    links.append(string)
    i -=1
i = 0 
links_1 = []
for i in year_2:
    string = str("https://www.basketball-reference.com" +player_info_1[0].unique()[0] + "/gamelog/"+str(i))
    links_1.append(string)
    i -=1

In [177]:
length = len(links) 
i = 0
data = []
for link in links:
    data.append(pd.read_html(str(link))[7])
lebron = pd.concat(data)

In [178]:
lebron.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2003-10-29,18-303,CLE,@,SAC,L (-14),1,42:50,...,4,6,9,4,0,2,3,25,24.7,-9
1,2,2,2003-10-30,18-304,CLE,@,PHO,L (-9),1,40:21,...,10,12,8,1,0,7,1,21,14.7,-3
2,3,3,2003-11-01,18-306,CLE,@,POR,L (-19),1,39:10,...,4,4,6,2,0,2,3,8,5.0,-21
3,4,4,2003-11-05,18-310,CLE,NaN,DEN,L (-4),1,41:06,...,9,11,7,2,3,2,1,7,11.2,-3
4,5,5,2003-11-07,18-312,CLE,@,IND,L (-1),1,43:44,...,5,5,3,0,0,7,2,23,9.0,-7

In [171]:
length = len(links_1) 
i = 0
data = []
for link in links_1:
    data.append(pd.read_html(str(link))[7])
jordan = pd.concat(data)

In [172]:
jordan.head()

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,1984-10-26,21-252,CHI,NaN,WSB,W (+16),1,40:00,...,5,6,7,2,4,5,2,16,12.5,NaN
1,2,2,1984-10-27,21-253,CHI,@,MIL,L (-2),1,34:00,...,2,5,5,2,1,3,4,21,19.4,NaN
2,3,3,1984-10-29,21-255,CHI,NaN,MIL,W (+6),1,34:00,...,2,4,5,6,2,3,4,37,32.9,NaN
3,4,4,1984-10-30,21-256,CHI,@,KCK,W (+5),1,36:00,...,2,4,5,3,1,6,5,25,14.7,NaN
4,5,5,1984-11-01,21-258,CHI,@,DEN,L (-16),1,33:00,...,2,5,5,1,1,2,4,17,13.2,NaN

# Data Cleansing

I created a function to search for any variables that are not numeric to zero. I was having an issue with the data having strings such as "Did not play" so I created a function to seek out non numeric observations and created another function to loop through the different columns and automatically search.

In [179]:
def clean_int_column(df, column):
    df[column] = pd.to_numeric(df[column], errors='coerce')
    df[column] = df[column].fillna(0).astype(int)
        
def clean_all_columns(df):
    for column in df.columns[10:]:
        clean_int_column(df, column)

In [180]:
#Applying the function created above
clean_all_columns(jordan)
clean_all_columns(lebron)

Below we created a general long list of items to clean in the dataframes. Most of the datatypes were object instead of floats. I also split some columns so that I could extract the key elements in some of the columns. I also had to format the date to datetime so i could work on it as a time series if needed.

In [181]:
#Function to clean the set we are working with 
def clean_data(df):
    df['Age'] = pd.DataFrame(df['Age'].str.split('-', expand=True)[0])
    df['Year'] = pd.DataFrame(df['Date'].str.split('-', expand=True)[0])  
    df['MP'] = pd.DataFrame(df['MP'].str.split(':', expand=True)[0])    
    df = df[df['Date'] != 'Date']
    df.rename(columns={'Unnamed: 5': 'home_away'}, inplace=True)
    df.rename(columns={'Unnamed: 7': 'WL'}, inplace=True)
    df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
    df['home_away'].fillna("home", inplace=True)
    #Changing the data types 
    df['PTS'] = df['PTS'].astype(float)
    df['+/-'] = df['+/-'].astype(float)
    df['GmSc'] = df['GmSc'].astype(float)
    df['PF'] = df['PF'].astype(float)
    df['TOV'] = df['TOV'].astype(float)
    df['AST'] = df['AST'].astype(float)
    df['STL'] = df['STL'].astype(float)
    df['BLK'] = df['BLK'].astype(float)
    df['3P'] = df['3P'].astype(float)
    df['3PA'] = df['3PA'].astype(float)
    df['FG%'] = df['FG%'].astype(float)
    df['MP'] = df['MP'].replace('Did Not Dress', 0)
    df['MP'] = df['MP'].replace('Inactive', 0)
    df['MP'] = df['MP'].replace('Did Not Play', 0)
    df['MP'] = df['MP'].replace('Not With Team', 0)
    df['MP'] = df['MP'].astype(float)
    
    return df

In [182]:
df_mj = clean_data(jordan)
df_lb = clean_data(lebron)

/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Unnamed: 5': 'home_away'}, inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Unnamed: 7': 'WL'}, inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_away'].fillna("home", inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PTS'] = df['PTS'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['+/-'] = df['+/-'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GmSc'] = df['GmSc'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PF'] = df['PF'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TOV'] = df['TOV'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AST'] = df['AST'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['STL'] = df['STL'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BLK'] = df['BLK'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['3P'] = df['3P'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['3PA'] = df['3PA'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FG%'] = df['FG%'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Did Not Dress', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Inactive', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Did Not Play', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Not With Team', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Unnamed: 5': 'home_away'}, inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'Unnamed: 7': 'WL'}, inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['home_away'].fillna("home", inplace=True)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PTS'] = df['PTS'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['+/-'] = df['+/-'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GmSc'] = df['GmSc'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PF'] = df['PF'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TOV'] = df['TOV'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AST'] = df['AST'].astype(float)

/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['STL'] = df['STL'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BLK'] = df['BLK'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['3P'] = df['3P'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['3PA'] = df['3PA'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FG%'] = df['FG%'].astype(float)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Did Not Dress', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Inactive', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Did Not Play', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].replace('Not With Team', 0)
/var/folders/d5/yv3yty4s3y33ty4r_pc546j80000gn/T/ipykernel_52401/4285801742.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['MP'] = df['MP'].astype(float)

# SQL Connection

"""CREATE DATABASE nba_stats"""

In [6]:
import mysql.connector
import sqlite3
# import the module
import pymysql
from sqlalchemy import create_engine
# create sqlalchemy engine
engine = create_engine("mysql+pymysql://{user}:{password}@localhost/{database}"
                       .format(user = 'root',
                              password = '',
                              database = 'nba_stats'))

Reading each of the clean datasets into SQL

df_lb.to_sql('lebron', con = engine, if_exists = 'append', chunksize = len(df_lb))
df_mj.to_sql('jordan', con = engine, if_exists = 'append', chunksize = len(df_mj))